*, 
*:before, 
*:after {
  box-sizing: border-box;
}

html,
body,
main {
 height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  margin: 0;
}

.hot {
  background-color: tomato;
}

.normal {
  background-color: #ccc;
}

.cold {
  background-color: DeepSkyBlue;
}

main {
  position: relative;
}

.container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  height: 350px;
}

.temp-list {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  width: 80%;
  height: 100%;
  border: 1px solid #333;
}

.temp-list:after {
  content: "";
  display: table;
  clear: both;
}

li {
  float: left;
  width: 20%;
  height: 100%;
  position: relative;
  border: 1px solid #333;
}

li span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  .container {
    height: 500px;
  }

  li {
    float: none;
    width: 100%;
    height: 20%;
  }
}